<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem">
        <a href="{{site.baseurl}}about/">About</a>
    </li>
    <li class="nav-python" role="menuitem">
        <a href="{{site.baseurl}}tag/python/">python</a>
    </li>
    <li class="nav-hadoop" role="menuitem">
        <a href="{{site.baseurl}}tag/hadoop/">hadoop</a>
    </li>
    <li class="nav-scala" role="menuitem">
        <a href="{{site.baseurl}}tag/scala/">scala</a>
    </li>
    <li class="nav-database" role="menuitem">
        <a href="{{site.baseurl}}tag/database/">database</a>
    </li>
    <li class="nav-database" role="menuitem">
        <a href="{{site.baseurl}}tag/datascience/">DataScience</a>
    </li>
    <li class="nav-archive" role="menuitem">
        <a href="/archive.html">All Posts</a>
    </li>
    <li class="nav-archive" role="menuitem">
        <a href="/author_archive.html">Tag</a>
    </li>
</ul>